html, body{
  margin:0;
}
.hidden {
  opacity: 0;
  z-index:-100 !important;
  transition:.2s;
}

#info-modal{
  width: 80%;
  height: auto;
  border-bottom: 1px solid #ccc;
  position: fixed;
  z-index: 2001;
  background-color: white;
  box-shadow: 0px 3px 8px 2px #00000052;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .2s;
}


#info-modal tr{
  height: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

#experience-position {
  color: white !important;
  background-color: #4682B4;
  font-size: 25px;
  padding-left: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
}


#experience-description li {
  list-style-type: square;
  color: black;
  text-align: right;
  display: inline-block;
}

/* #experience-description li:before {
    content: "•"; /* Insert content that looks like bullets */
    /* padding-right: 8px;  */
    /* color: black; /* Or a color you prefer */

/* }  */



.experience-job-title,
.experience-company,
.experience-location,
.experience-dates,
.experience-description {
  text-transform: uppercase;
}



#info-modal th{
  width: 20%;
  padding-left: 50px;
  padding-top:4px;
  padding-bottom:4px;
  font-size:22px;
  color:#444;
  font-family: 'Open Sans', sans-serif;
}

table ul{
  list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
color: black;
}

#info-modal  h1{
font-size: 25px;
text-align: justify;
margin-left: 15px;
}

#info-modal  li{
font-size: 18px;
text-align: left;
display: list-item;
list-style-type: disc;

}


#fader{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  background-color: rgba(0,0,0,0.5);
  transition:.2s;
}

#fader .close {
  opacity: 1.0;
  margin-top: 50px;
  margin-right: 50px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
* {

  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

li {

  list-style: none;
  display: inline-block;
}

a {

  text-decoration: none;
  transition: all 500ms ease-in-out;
}

a:hover,
a:active {

  text-decoration: none;
}

h1,
h2,
h4 {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 21px;
}

.btn {

  transition: all 300ms ease-in-out;
  font-weight: 500 !important;
  text-transform: uppercase;
}

.btn:hover {

  background-color: #ededed !important;
  color: #3c3c3c !important;
  border: 1px solid #fff !important;
}


/*NAVIGATION*/


.navbar {

  background-color: #222222 !important;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 700;
  box-shadow: 1px 1px 4px 2px #00000054;
  border:none;
}

.navbar a {

  color: #fff !important;
  opacity: 0.7;
}


.navbar a:hover {

  opacity: 1;
  background-color: #111111 !important;
}



/*header*/

.header {

  height: 600px;
  width: 100%;
  padding: 30px 0 30px;
  margin-top: 50px;
  background-image: url(../images/background2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  /* -webkit-filter: opacity(50%);
  filter: opacity(50%); */
}

/* .header img {

  height: 300px;
  width: 400px;
  margin: 70px 0 0 40px;
  border-radius: 15px;
} */

.header h1 {

  font-size:  17em;
  font-weight: 700px;
  padding-top: 30px;
  /* background-color: white; */
  border-radius: 5px;
  color: #1E90FF;
  display: inline;
  padding: 0.5rem;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

}

.header h1,
.header p,
.header button {

  margin-top: 20px;
}

.header p {

  font-size:  20px;
  font-weight: 700px;
  padding-top: 30px;
  padding: 0.5rem;
  border-radius: 5px;
  /* background-color: white; */
  color: #000080;
  /* display: inline; */
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  margin-top: 240px;
  font-weight: bold;

}

.header .btn {

  border-radius: 0;
  margin: 40px 20px;

}

@@media(max-width:768px) {

  .header {

    padding: 30px;
    height: 750px;
  }

  .header img {

    width: 90%;
    height: 300px;
    margin: 20px 0 0 20px;
  }

  .header .btn {

    font-size: 10px;
    margin-left: 20px;
  }

  .header h1 {

    font-size: 20px;
  }

  .header p {

    font-size: 10px;
  }

}

/*SERVICES=PORTFOLIO*/

.portfolio {

  padding: 80px 0 80px;
  text-align: center;
}

.portfolio h2,
.portfolio h4 {

  color: #4c4c4c;
  margin: 20px 0 20px;
  font-size: 20px;
}

.portfolio p {

  color: #737373;
  font-size: 14px;
  padding-bottom: 40px;
  font-weight: bold;
}

.portfolio i {

    height: 80px;
    width: 80px;
    font-size: 35px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #4682B4;
    color: #fff;

}

.portfolio i:hover {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}


@@media(max-width:760px) {

    .portfolio {

      padding: 30px;
    }

}

/*PRICING=Experience*/

.experience {

  padding: 50px 0 80px;
  text-align: center;
  background-color: #4682B4;
}

.experience h2,
.experience p {

  color: #fff;
}

.experience p {

  padding-bottom: 40px;

}

.card-container {
  cursor: pointer;
  height: 650px;
  perspective: 600;
  position: relative;
  width: 150px;
}
.card {
  height: 600px;
  /* padding: 30px; */
  border: 1px solid #ccc;
  /* background-color: #fff; */
  border-radius: 5px;
  margin-top: 30px;
  position: absolute;
  transform-style: preserve-3d;
  transition: all .2s ease-in-out;
  width: 200px;
}
.card:hover{
  opacity: .9;
  transition: .2s;
  cursor:pointer;
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  background: #eaeaed;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #green;
  line-height: 30px;
  text-align: center;
  transform: rotateY(180deg);
}
.close-button{
  transition:.2s;
  width: 25px;
  height: 25px;
  background-image: url('./images/close-button.png');
  background-size:100%;
  position:absolute;
  top:2%;
  right:10px;

}

.close-button:hover{
  opacity:.8;
  transition:.2s;
  cursor:pointer;
}
.card li {

  display: block;
  /* padding: 1px; */
}

.card h4,
.card h1,
.card b {

  color: #4c4c4c;
  padding-top: 50px;
}

.card p,
.card li {

  color: #737373;
}

.card li {
  font-weight: bold;
  padding-top: 30px;
}

.card img {

  height: auto;
  width: 75%;
  position: absolute;
  bottom: 0;
  right: 25px;
  margin-bottom: 20px;

}

@@media(max-width:760px) {

    .experience {

      padding: 30px;
    }

    .card {
      width: 80%;
      margin-left: 25px;
    }
}

/*TEAM=AboutMe*/

.aboutMe {

  padding: 50px 0 80px;
  text-align: center;
}

.aboutMe b,
.aboutMe h2,
.aboutMe h4 {

  margin: 20px 0 20px;
  color: #4c4c4c;

}

.aboutMe p {

  color: #737373;
}

.aboutMe img {

  height: 150px;
  width: 150px;
  margin-top: 50px;
}


.aboutMe i {

  height: 30px;
  width: 30px;
  padding: 5px;
  font-size: 17px;
  border-radius: 50%;
  background-color: #4682B4;
  color: #fff;
}

.aboutMe a:hover i {

  background-color: #F88379;
}

.aboutMe li:hover {

  opacity: 0.6;
}

/*CLIENTS*/

.clients {

  padding: 50px 0 80px;
  background-color: #3399ff;
  text-align: center;
  color: #fff;
}

.client h2 {

  color: #5e5e5e;
}

.clients p {

  padding-bottom: 40px;
}

.clients img {

  width: 200px;
  opacity: 0.6;
  cursor: 0.6;
  margin: 40px 0;
  transition: all 500ms ease-in-out;
}

.clients li:hover img {

  opacity: 1;
}

/*CONTACT*/

.contact {
  padding: 50px 0 80px;
  text-align: center;

}

.contact p {

  padding-bottom: 80px;
  color: #737373;
}

.contact h2 {

  color: #4c4c4c;
  margin: 20px 0 20px;
}

.contact .input-group {

  margin-bottom: 25px;
}

.contact .form-control {

  border-radius: 0 !important;
}

.contact span {

  border-radius: 0 !important;
}

.contact .btn {

  border-radius: 0;
  width: 100%;
  font-size: 15px;
  background-color: #f08080;
  color: #fff;
}

.contact .btn:hover {

  background-color: #a85959 !important;
  color: #fff !important;
}

/*FOOTER*/

.footer {
  padding: 30px;
  color: #cccccc;
  background-color: #222222;
}

.footer .social {

  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  margin-right: 5px;
}

.footer input {

  height: 40px;
  width: 160px;
  padding: 5px;
  border: none;
  background-color: #cccccc;
  color: #000;
}

.footer .btn {

  padding: 10px 5px 10px;
  margin: -3px 0 0 5px;
}
